.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    .empresa-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .empresa-info {
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}